In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
pd.set_option("display.max_columns", None)
train_outpatient= pd.read_csv(r".\Documents\capstone_healthcare\Train_Outpatient.csv")

In [3]:
train_outpatient

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,2163,V4575,53190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,07041,5781,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,V570,78079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,78900,78609,4280,71946,3310,75311,2724,V103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [90]:
train_outpatient.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
DeductibleAmtPaid           int64
ClmAdmitDiagnosisCode      object
dtype: object

In [6]:
type(train_outpatient.ClmDiagnosisCode_1[1])

str

In [91]:
# null values in outpatient dataset
train_outpatient.isnull().sum(axis=0).sort_values()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
DeductibleAmtPaid              0
AttendingPhysician          1396
ClmDiagnosisCode_1         10453
ClmDiagnosisCode_2        195380
ClmDiagnosisCode_3        314480
OtherPhysician            322691
ClmDiagnosisCode_4        392141
ClmAdmitDiagnosisCode     412312
OperatingPhysician        427120
ClmDiagnosisCode_5        443393
ClmDiagnosisCode_6        468981
ClmDiagnosisCode_7        484776
ClmDiagnosisCode_8        494825
ClmDiagnosisCode_9        502899
ClmDiagnosisCode_10       516654
ClmProcedureCode_1        517575
ClmProcedureCode_2        517701
ClmProcedureCode_3        517733
ClmProcedureCode_4        517735
ClmProcedureCode_5        517737
ClmProcedureCode_6        517737
dtype: int64

In [92]:
# substituting all the null values in physicians with "none"
train_outpatient.AttendingPhysician= train_outpatient.AttendingPhysician.fillna("None")
train_outpatient.OperatingPhysician=train_outpatient.OperatingPhysician.fillna("None")
train_outpatient.OtherPhysician=train_outpatient.OtherPhysician.fillna("None")

In [93]:
# substituting all the missing diagnosis codes with 0
train_outpatient['ClmDiagnosisCode_1']=train_outpatient['ClmDiagnosisCode_1'].fillna(0)
train_outpatient['ClmDiagnosisCode_2']=train_outpatient['ClmDiagnosisCode_2'].fillna(0)
train_outpatient['ClmDiagnosisCode_3']=train_outpatient['ClmDiagnosisCode_3'].fillna(0)
train_outpatient['ClmDiagnosisCode_4']=train_outpatient['ClmDiagnosisCode_4'].fillna(0)
train_outpatient['ClmDiagnosisCode_5']=train_outpatient['ClmDiagnosisCode_5'].fillna(0)
train_outpatient['ClmDiagnosisCode_6']=train_outpatient['ClmDiagnosisCode_6'].fillna(0)
train_outpatient['ClmDiagnosisCode_7']=train_outpatient['ClmDiagnosisCode_7'].fillna(0)
train_outpatient['ClmDiagnosisCode_8']=train_outpatient['ClmDiagnosisCode_8'].fillna(0)
train_outpatient['ClmDiagnosisCode_9']=train_outpatient['ClmDiagnosisCode_9'].fillna(0)
train_outpatient['ClmDiagnosisCode_10']=train_outpatient['ClmDiagnosisCode_10'].fillna(0)
train_outpatient['ClmAdmitDiagnosisCode']=train_outpatient['ClmAdmitDiagnosisCode'].fillna(0)

In [94]:
# substituting all the procedure codes with 0
train_outpatient['ClmProcedureCode_1']=train_outpatient['ClmProcedureCode_1'].fillna(0).astype(int)
train_outpatient['ClmProcedureCode_2']=train_outpatient['ClmProcedureCode_2'].fillna(0).astype(int)
train_outpatient['ClmProcedureCode_3']=train_outpatient['ClmProcedureCode_3'].fillna(0).astype(int)
train_outpatient['ClmProcedureCode_4']=train_outpatient['ClmProcedureCode_4'].fillna(0).astype(int)
train_outpatient['ClmProcedureCode_5']=train_outpatient['ClmProcedureCode_5'].fillna(0).astype(int)

In [95]:
# dropping ClmProcedureCode_6 as it has all missing in both inpatient and outpatient
train_outpatient= train_outpatient.drop('ClmProcedureCode_6', axis=1)

In [96]:
# creating new feature of claim days for oupatient
train_outpatient['ClaimStartDt'] = pd.to_datetime(train_outpatient['ClaimStartDt'])
train_outpatient['ClaimEndDt'] = pd.to_datetime(train_outpatient['ClaimEndDt'])
train_outpatient['claim_days'] = ((train_outpatient['ClaimEndDt'] - train_outpatient['ClaimStartDt']).dt.days)

In [97]:
# dropping ClaimStartDt, ClaimEndDt from outpatient dataset
train_outpatient=train_outpatient.drop(['ClaimStartDt','ClaimEndDt'], axis=1)

In [98]:
# creating new column in_out_patient 
train_outpatient['in_out_patient']=0

In [99]:
train_outpatient.isnull().sum(axis=0).sort_values()

BeneID                    0
ClmAdmitDiagnosisCode     0
DeductibleAmtPaid         0
ClmProcedureCode_5        0
ClmProcedureCode_4        0
ClmProcedureCode_3        0
ClmProcedureCode_2        0
ClmProcedureCode_1        0
ClmDiagnosisCode_10       0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_1        0
OtherPhysician            0
OperatingPhysician        0
AttendingPhysician        0
InscClaimAmtReimbursed    0
Provider                  0
ClaimID                   0
claim_days                0
in_out_patient            0
dtype: int64

In [100]:
train_outpatient.dtypes

BeneID                    object
ClaimID                   object
Provider                  object
InscClaimAmtReimbursed     int64
AttendingPhysician        object
OperatingPhysician        object
OtherPhysician            object
ClmDiagnosisCode_1        object
ClmDiagnosisCode_2        object
ClmDiagnosisCode_3        object
ClmDiagnosisCode_4        object
ClmDiagnosisCode_5        object
ClmDiagnosisCode_6        object
ClmDiagnosisCode_7        object
ClmDiagnosisCode_8        object
ClmDiagnosisCode_9        object
ClmDiagnosisCode_10       object
ClmProcedureCode_1         int32
ClmProcedureCode_2         int32
ClmProcedureCode_3         int32
ClmProcedureCode_4         int32
ClmProcedureCode_5         int32
DeductibleAmtPaid          int64
ClmAdmitDiagnosisCode     object
claim_days                 int64
in_out_patient             int64
dtype: object

In [101]:
train_outpatient.head()

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,DeductibleAmtPaid,ClmAdmitDiagnosisCode,claim_days,in_out_patient
0,BENE11002,CLM624349,PRV56011,30,PHY326117,None,None,78943,V5866,V1272,0,0,0,0,0,0,0,0,0,0,0,0,0,56409,0,0
1,BENE11003,CLM189947,PRV57610,80,PHY362868,None,None,6115,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,79380,0,0
2,BENE11003,CLM438021,PRV57595,10,PHY328821,None,None,2723,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,BENE11004,CLM121801,PRV56011,40,PHY334319,None,None,71988,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,BENE11004,CLM150998,PRV56011,200,PHY403831,None,None,82382,30000,72887,4280,7197,V4577,0,0,0,0,0,0,0,0,0,0,71947,0,0

In [102]:
# number of unique beneficiary in outpatient
len(train_outpatient.BeneID.unique())

133980

In [103]:
# number of unique provider in outpatient
len(train_outpatient.Provider.unique())

5012

In [104]:
train_inpatient= pd.read_csv(r".\Documents\capstone_healthcare\Train_Inpatient.csv")

In [105]:
train_inpatient.isnull().sum(axis=0).sort_values()

BeneID                        0
DiagnosisGroupCode            0
DischargeDt                   0
ClmAdmitDiagnosisCode         0
AdmissionDt                   0
ClmDiagnosisCode_1            0
InscClaimAmtReimbursed        0
Provider                      0
ClaimEndDt                    0
ClaimStartDt                  0
ClaimID                       0
AttendingPhysician          112
ClmDiagnosisCode_2          226
ClmDiagnosisCode_3          676
DeductibleAmtPaid           899
ClmDiagnosisCode_4         1534
ClmDiagnosisCode_5         2894
ClmDiagnosisCode_6         4838
ClmDiagnosisCode_7         7258
ClmDiagnosisCode_8         9942
ClmDiagnosisCode_9        13497
OperatingPhysician        16644
ClmProcedureCode_1        17326
ClmProcedureCode_2        35020
OtherPhysician            35784
ClmDiagnosisCode_10       36547
ClmProcedureCode_3        39509
ClmProcedureCode_4        40358
ClmProcedureCode_5        40465
ClmProcedureCode_6        40474
dtype: int64

In [106]:
train_inpatient.dtypes

BeneID                     object
ClaimID                    object
ClaimStartDt               object
ClaimEndDt                 object
Provider                   object
InscClaimAmtReimbursed      int64
AttendingPhysician         object
OperatingPhysician         object
OtherPhysician             object
AdmissionDt                object
ClmAdmitDiagnosisCode      object
DeductibleAmtPaid         float64
DischargeDt                object
DiagnosisGroupCode         object
ClmDiagnosisCode_1         object
ClmDiagnosisCode_2         object
ClmDiagnosisCode_3         object
ClmDiagnosisCode_4         object
ClmDiagnosisCode_5         object
ClmDiagnosisCode_6         object
ClmDiagnosisCode_7         object
ClmDiagnosisCode_8         object
ClmDiagnosisCode_9         object
ClmDiagnosisCode_10        object
ClmProcedureCode_1        float64
ClmProcedureCode_2        float64
ClmProcedureCode_3        float64
ClmProcedureCode_4        float64
ClmProcedureCode_5        float64
ClmProcedureCode_6        float64
dtype: object

In [107]:
train_inpatient.shape

(40474, 30)

In [108]:
len(train_inpatient.BeneID.unique())

31289

In [109]:
len(train_inpatient.Provider.unique())

2092

In [110]:
# creating a new feature of claim days
train_inpatient['ClaimStartDt'] = pd.to_datetime(train_inpatient['ClaimStartDt'])
train_inpatient['ClaimEndDt'] = pd.to_datetime(train_inpatient['ClaimEndDt'])
train_inpatient['claim_days'] = ((train_inpatient['ClaimEndDt'] - train_inpatient['ClaimStartDt']).dt.days)

In [111]:
#  dropping ClaimStartDt and ClaimEndDt from the inpatient dataset
train_inpatient=train_inpatient.drop(['ClaimStartDt','ClaimEndDt'], axis=1)

In [112]:
# creating new feature of hospital_stay in inpatient
train_inpatient['AdmissionDt'] = pd.to_datetime(train_inpatient['AdmissionDt'])
train_inpatient['DischargeDt'] = pd.to_datetime(train_inpatient['DischargeDt'])
train_inpatient['hospital_stay'] = ((train_inpatient['DischargeDt'] - train_inpatient['AdmissionDt']).dt.days)

In [113]:
# dropping AdmissionDt,DischargeDt from inpatient
train_inpatient=train_inpatient.drop(['AdmissionDt','DischargeDt'],axis=1)

In [114]:
# checking for NaN in DeductibleAmtPaid
train_inpatient[train_inpatient.DeductibleAmtPaid.isnull()]

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,claim_days,hospital_stay
20,BENE11057,CLM36789,PRV51393,13000,PHY326399,PHY430692,NaN,78605,NaN,167,41519,53081,486,45340,73679,42731,04185,7907,4150,NaN,3995.0,NaN,NaN,NaN,NaN,NaN,35,35
21,BENE11057,CLM38115,PRV51342,10000,PHY375861,NaN,NaN,0389,NaN,853,99591,78552,V4511,2760,27651,486,41071,25000,2859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
129,BENE11494,CLM66768,PRV51501,18000,PHY327234,PHY348953,NaN,41071,NaN,255,4280,5990,45829,V4581,496,4110,41401,5716,25000,NaN,66.0,NaN,NaN,NaN,NaN,NaN,10,10
159,BENE11592,CLM34790,PRV55262,6000,PHY424100,NaN,NaN,99664,NaN,668,99664,3371,03811,70703,2869,27801,3569,58881,E8796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
177,BENE11670,CLM37086,PRV52019,400,PHY416959,NaN,NaN,6084,NaN,711,60490,V1582,41401,56210,32723,V854,42731,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40296,BENE158552,CLM36481,PRV51119,7000,PHY427917,NaN,PHY376316,486,NaN,196,4809,4019,51883,79902,56400,41401,4589,4240,2449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
40367,BENE158815,CLM50034,PRV52821,14000,PHY314410,PHY314410,NaN,8208,NaN,497,8208,41401,3310,42653,4280,5939,42731,30550,4549,7140,8151.0,NaN,NaN,NaN,NaN,NaN,7,7
40374,BENE158835,CLM47669,PRV57165,5000,PHY313321,NaN,NaN,7242,NaN,462,7210,53081,7213,41400,71590,78079,V1351,2948,9130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9
40409,BENE158946,CLM74440,PRV55000,10000,PHY375969,PHY375969,NaN,78605,NaN,201,80702,41401,1983,4019,78491,1987,NaN,NaN,NaN,NaN,3422.0,NaN,NaN,NaN,NaN,NaN,2,2
40466,BENE159166,CLM38690,PRV51440,11000,PHY393635,PHY332778,PHY398228,78650,NaN,234,4271,53540,2449,42732,4168,V1271,4148,V4582,V4502,NaN,66.0,NaN,NaN,NaN,NaN,NaN,2,2

In [115]:
# substituting all the missing values in physician as none
train_inpatient.AttendingPhysician= train_inpatient.AttendingPhysician.fillna("None")
train_inpatient.OperatingPhysician=train_inpatient.OperatingPhysician.fillna("None")
train_inpatient.OtherPhysician=train_inpatient.OtherPhysician.fillna("None")

In [116]:
# substituting all the missing ClmDiagnosisCode as 0
train_inpatient['ClmDiagnosisCode_2']=train_inpatient['ClmDiagnosisCode_2'].fillna(0)
train_inpatient['ClmDiagnosisCode_3']=train_inpatient['ClmDiagnosisCode_3'].fillna(0)
train_inpatient['ClmDiagnosisCode_4']=train_inpatient['ClmDiagnosisCode_4'].fillna(0)
train_inpatient['ClmDiagnosisCode_5']=train_inpatient['ClmDiagnosisCode_5'].fillna(0)
train_inpatient['ClmDiagnosisCode_6']=train_inpatient['ClmDiagnosisCode_6'].fillna(0)
train_inpatient['ClmDiagnosisCode_7']=train_inpatient['ClmDiagnosisCode_7'].fillna(0)
train_inpatient['ClmDiagnosisCode_8']=train_inpatient['ClmDiagnosisCode_8'].fillna(0)
train_inpatient['ClmDiagnosisCode_9']=train_inpatient['ClmDiagnosisCode_9'].fillna(0)
train_inpatient['ClmDiagnosisCode_10']=train_inpatient['ClmDiagnosisCode_10'].fillna(0)

In [117]:
# substituting all the missing ClmProcedureCode as 0
train_inpatient['ClmProcedureCode_1']=train_inpatient['ClmProcedureCode_1'].fillna(0).astype(int)
train_inpatient['ClmProcedureCode_2']=train_inpatient['ClmProcedureCode_2'].fillna(0).astype(int)
train_inpatient['ClmProcedureCode_3']=train_inpatient['ClmProcedureCode_3'].fillna(0).astype(int)
train_inpatient['ClmProcedureCode_4']=train_inpatient['ClmProcedureCode_4'].fillna(0).astype(int)
train_inpatient['ClmProcedureCode_5']=train_inpatient['ClmProcedureCode_5'].fillna(0).astype(int)

In [118]:
#filling all null values in DeductibleAmtPaid by $1068
train_inpatient['DeductibleAmtPaid']=train_inpatient['DeductibleAmtPaid'].fillna(1068)

In [119]:
# dropping ClmProcedureCode_6 as it has all null values in both inpatient and outpatient
train_inpatient= train_inpatient.drop('ClmProcedureCode_6', axis=1)

In [120]:
# creating new column in _out_patient in inpatient dataset
train_inpatient['in_out_patient']= 1

In [121]:
train_inpatient.isnull().sum(axis=0).sort_values()

BeneID                    0
claim_days                0
ClmProcedureCode_5        0
ClmProcedureCode_4        0
ClmProcedureCode_3        0
ClmProcedureCode_2        0
ClmProcedureCode_1        0
ClmDiagnosisCode_10       0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_1        0
DiagnosisGroupCode        0
DeductibleAmtPaid         0
ClmAdmitDiagnosisCode     0
OtherPhysician            0
OperatingPhysician        0
AttendingPhysician        0
InscClaimAmtReimbursed    0
Provider                  0
ClaimID                   0
hospital_stay             0
in_out_patient            0
dtype: int64

In [122]:
train_inpatient.head()

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,claim_days,hospital_stay,in_out_patient
0,BENE11001,CLM46614,PRV55912,26000,PHY390922,None,None,7866,1068.0,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,0,0,0,0,0,0,6,6,1
1,BENE11001,CLM66048,PRV55907,5000,PHY318495,PHY318495,None,6186,1068.0,750,6186,2948,56400,0,0,0,0,0,0,0,7092,0,0,0,0,2,2,1
2,BENE11001,CLM68358,PRV56046,5000,PHY372395,None,PHY324689,29590,1068.0,883,29623,30390,71690,34590,V1581,32723,0,0,0,0,0,0,0,0,0,3,3,1
3,BENE11011,CLM38412,PRV52405,5000,PHY369659,PHY392961,PHY349768,431,1068.0,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,0,331,0,0,0,0,8,8,1
4,BENE11014,CLM63689,PRV56614,10000,PHY379376,PHY398258,None,78321,1068.0,975,042,3051,34400,5856,42732,486,5119,29620,20300,0,3893,0,0,0,0,17,17,1

In [123]:
train_beneficiary= pd.read_csv(r".\Documents\capstone_healthcare\Train_Beneficiary.csv")

In [124]:
train_beneficiary.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,2,2,2,2,2,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,1,2,2,2,2,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,1,1,2,2,2,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,2,2,2,2,1,2,1,2,2,2,2,0,0,1790,1200

In [125]:
train_beneficiary.shape

(138556, 25)

In [126]:
train_beneficiary.dtypes

BeneID                             object
DOB                                object
DOD                                object
Gender                              int64
Race                                int64
RenalDiseaseIndicator              object
State                               int64
County                              int64
NoOfMonths_PartACov                 int64
NoOfMonths_PartBCov                 int64
ChronicCond_Alzheimer               int64
ChronicCond_Heartfailure            int64
ChronicCond_KidneyDisease           int64
ChronicCond_Cancer                  int64
ChronicCond_ObstrPulmonary          int64
ChronicCond_Depression              int64
ChronicCond_Diabetes                int64
ChronicCond_IschemicHeart           int64
ChronicCond_Osteoporasis            int64
ChronicCond_rheumatoidarthritis     int64
ChronicCond_stroke                  int64
IPAnnualReimbursementAmt            int64
IPAnnualDeductibleAmt               int64
OPAnnualReimbursementAmt            int64
OPAnnualDeductibleAmt               int64
dtype: object

In [127]:
len(train_beneficiary.BeneID.unique())

138556

In [128]:
train_beneficiary.isnull().sum(axis=0).sort_values()

BeneID                                  0
IPAnnualDeductibleAmt                   0
IPAnnualReimbursementAmt                0
ChronicCond_stroke                      0
ChronicCond_rheumatoidarthritis         0
ChronicCond_Osteoporasis                0
ChronicCond_IschemicHeart               0
ChronicCond_Diabetes                    0
ChronicCond_Depression                  0
ChronicCond_ObstrPulmonary              0
ChronicCond_Cancer                      0
OPAnnualReimbursementAmt                0
ChronicCond_KidneyDisease               0
ChronicCond_Alzheimer                   0
NoOfMonths_PartBCov                     0
NoOfMonths_PartACov                     0
County                                  0
State                                   0
RenalDiseaseIndicator                   0
Race                                    0
Gender                                  0
DOB                                     0
ChronicCond_Heartfailure                0
OPAnnualDeductibleAmt                   0
DOD                                137135
dtype: int64

In [129]:
train_beneficiary.RenalDiseaseIndicator.value_counts()

0    118978
Y     19578
Name: RenalDiseaseIndicator, dtype: int64

In [130]:
# changing gender to 0 and 1
train_beneficiary['Gender']=train_beneficiary['Gender'].map({1:1,2:0})

In [131]:
# changing RenalDiseaseIndicator to 0 and 1
train_beneficiary['RenalDiseaseIndicator']=train_beneficiary['RenalDiseaseIndicator'].map({"0":0,"Y":1})

In [132]:
# changing all chronic diseases to 0 and 1
train_beneficiary['ChronicCond_Alzheimer']=train_beneficiary['ChronicCond_Alzheimer'].map({2:0,1:1})
train_beneficiary['ChronicCond_Heartfailure']=train_beneficiary['ChronicCond_Heartfailure'].map({2:0,1:1})
train_beneficiary['ChronicCond_KidneyDisease']=train_beneficiary['ChronicCond_KidneyDisease'].map({2:0,1:1})
train_beneficiary['ChronicCond_Cancer']=train_beneficiary['ChronicCond_Cancer'].map({2:0,1:1})
train_beneficiary['ChronicCond_ObstrPulmonary']=train_beneficiary['ChronicCond_ObstrPulmonary'].map({2:0,1:1})
train_beneficiary['ChronicCond_Depression']=train_beneficiary['ChronicCond_Depression'].map({2:0,1:1})
train_beneficiary['ChronicCond_Diabetes']=train_beneficiary['ChronicCond_Diabetes'].map({2:0,1:1})
train_beneficiary['ChronicCond_IschemicHeart']=train_beneficiary['ChronicCond_IschemicHeart'].map({2:0,1:1})
train_beneficiary['ChronicCond_Osteoporasis']=train_beneficiary['ChronicCond_Osteoporasis'].map({2:0,1:1})
train_beneficiary['ChronicCond_rheumatoidarthritis']=train_beneficiary['ChronicCond_rheumatoidarthritis'].map({2:0,1:1})
train_beneficiary['ChronicCond_stroke']=train_beneficiary['ChronicCond_stroke'].map({2:0,1:1})

In [133]:
train_beneficiary['ChronicCond_stroke'].value_counts()

0    127602
1     10954
Name: ChronicCond_stroke, dtype: int64

In [134]:
# creating new column Age from DOB and DOD
train_beneficiary['DOB']=pd.to_datetime(train_beneficiary['DOB'])
train_beneficiary['DOD']=pd.to_datetime(train_beneficiary['DOD'])
train_beneficiary['Age']=round(((train_beneficiary['DOD'] - train_beneficiary['DOB']).dt.days)/365)
train_beneficiary['Age']=train_beneficiary['Age'].fillna(round(((pd.to_datetime('2009-12-01') - train_beneficiary['DOB']).dt.days)/365))

In [135]:
# creating new column whetherDead to flag dead or alive
train_beneficiary.loc[train_beneficiary.DOD.isna(),'WhetherDead']=0
train_beneficiary.loc[train_beneficiary.DOD.notna(),'WhetherDead']=1

In [136]:
# dropping DOD and DOB after creating Age
train_beneficiary= train_beneficiary.drop(['DOB','DOD'], axis =1)

In [137]:
train_beneficiary['Age']=train_beneficiary['Age'].astype(int)

In [138]:
train_beneficiary['WhetherDead']= train_beneficiary['WhetherDead'].astype(int)

In [139]:
# creating new column chronic_conditions giving total of all chronic conditions
train_beneficiary['chronic_conditions']=\
train_beneficiary['ChronicCond_Alzheimer']+ train_beneficiary['ChronicCond_Heartfailure']+\
train_beneficiary['ChronicCond_KidneyDisease']+ train_beneficiary['ChronicCond_Cancer']+\
train_beneficiary['ChronicCond_ObstrPulmonary'] + train_beneficiary['ChronicCond_Depression']+\
train_beneficiary['ChronicCond_Diabetes'] + train_beneficiary['ChronicCond_IschemicHeart'] +\
train_beneficiary['ChronicCond_Osteoporasis'] + train_beneficiary['ChronicCond_rheumatoidarthritis']+\
train_beneficiary['ChronicCond_stroke']

In [140]:
# dropping all the columns used to create chronic_conditions
train_beneficiary = train_beneficiary.drop(['ChronicCond_Alzheimer','ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
                   'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary','ChronicCond_Depression', 'ChronicCond_Diabetes',
                   'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis','ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke'],axis = 1)

In [141]:
train_beneficiary.head()

,BeneID,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,WhetherDead,chronic_conditions
0,BENE11001,1,1,0,39,230,12,12,36000,3204,60,70,67,0,7
1,BENE11002,0,1,0,39,280,12,12,0,0,30,50,73,0,0
2,BENE11003,1,1,0,52,590,12,12,0,0,90,40,73,0,2
3,BENE11004,1,1,0,39,270,12,12,0,0,1810,760,87,0,6
4,BENE11005,1,1,0,24,680,12,12,0,0,1790,1200,74,0,2

In [142]:
train_beneficiary.Race.value_counts()

1    117057
2     13538
3      5059
5      2902
Name: Race, dtype: int64

In [143]:
#train_outpatient_benef= pd.merge(train_outpatient,train_beneficiary, how= "inner", on="BeneID")

In [144]:
#train_outpatient_benef

In [145]:
#train_inpatient_benef=pd.merge(train_inpatient,train_beneficiary, how="inner",on="BeneID")

In [146]:
#train_inpatient_benef

In [147]:
train= pd.read_csv(r".\Documents\capstone_healthcare\Train.csv")

In [148]:
train

      Provider PotentialFraud
0     PRV51001             No
1     PRV51003            Yes
2     PRV51004             No
3     PRV51005            Yes
4     PRV51007             No
...        ...            ...
5405  PRV57759             No
5406  PRV57760             No
5407  PRV57761             No
5408  PRV57762             No
5409  PRV57763             No

[5410 rows x 2 columns]

In [149]:
train.describe()

        Provider PotentialFraud
count       5410           5410
unique      5410              2
top     PRV57282             No
freq           1           4904

In [150]:
# id list to merge inpatient and outpatient data
train_patient_merge_id = [i for i in train_outpatient.columns if i in train_inpatient.columns]

In [151]:
train_patient_merge_id

['BeneID',
 'ClaimID',
 'Provider',
 'InscClaimAmtReimbursed',
 'AttendingPhysician',
 'OperatingPhysician',
 'OtherPhysician',
 'ClmDiagnosisCode_1',
 'ClmDiagnosisCode_2',
 'ClmDiagnosisCode_3',
 'ClmDiagnosisCode_4',
 'ClmDiagnosisCode_5',
 'ClmDiagnosisCode_6',
 'ClmDiagnosisCode_7',
 'ClmDiagnosisCode_8',
 'ClmDiagnosisCode_9',
 'ClmDiagnosisCode_10',
 'ClmProcedureCode_1',
 'ClmProcedureCode_2',
 'ClmProcedureCode_3',
 'ClmProcedureCode_4',
 'ClmProcedureCode_5',
 'DeductibleAmtPaid',
 'ClmAdmitDiagnosisCode',
 'claim_days',
 'in_out_patient']

In [152]:
# merging inpatient and outpatient on id list then merging with beneficiary on BeneID
train_patient_data = pd.merge(train_inpatient, train_outpatient,
                    left_on = train_patient_merge_id,
                    right_on = train_patient_merge_id,
                    how = 'outer').\
          merge(train_beneficiary,left_on='BeneID',right_on='BeneID',how='inner')

In [153]:
train_patient_data= train_patient_data.drop(['Gender','Race','NoOfMonths_PartACov','NoOfMonths_PartBCov','WhetherDead'],axis=1)

In [154]:
train_patient_data.head()

,BeneID,ClaimID,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,claim_days,hospital_stay,in_out_patient,RenalDiseaseIndicator,State,County,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,chronic_conditions
0,BENE11001,CLM46614,PRV55912,26000,PHY390922,None,None,7866,1068.0,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,0,0,0,0,0,0,6,6.0,1,0,39,230,36000,3204,60,70,67,7
1,BENE11001,CLM66048,PRV55907,5000,PHY318495,PHY318495,None,6186,1068.0,750,6186,2948,56400,0,0,0,0,0,0,0,7092,0,0,0,0,2,2.0,1,0,39,230,36000,3204,60,70,67,7
2,BENE11001,CLM68358,PRV56046,5000,PHY372395,None,PHY324689,29590,1068.0,883,29623,30390,71690,34590,V1581,32723,0,0,0,0,0,0,0,0,0,3,3.0,1,0,39,230,36000,3204,60,70,67,7
3,BENE11011,CLM38412,PRV52405,5000,PHY369659,PHY392961,PHY349768,431,1068.0,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,0,331,0,0,0,0,8,8.0,1,0,1,360,5000,1068,250,320,96,6
4,BENE11011,CLM144521,PRV52314,50,PHY379398,None,None,78900,0.0,NaN,78969,78701,V5866,59389,2449,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,1,360,5000,1068,250,320,96,6

In [167]:
train_patient_data.ClmDiagnosisCode_1.isnull().sum()

0

In [ ]:
train_patient_data[train_patient_data[]]=train_patient_data['ClmDiagnosisCode_1']

In [155]:
train_patient_data.shape

(558211, 37)

In [156]:
# checking the merged dataframe

In [157]:
train_outpatient.shape

(517737, 26)

In [158]:
train_inpatient.shape

(40474, 28)

In [159]:
train_patient_data.DeductibleAmtPaid.value_counts() # 40474 of $1068 matches no of rows in inpatient

0.0       496701
1068.0     40474
100.0       4582
70.0        2420
60.0        2065
40.0        2045
80.0        2024
50.0        1969
20.0        1406
30.0        1336
90.0        1245
10.0        1203
200.0        734
876.0          2
865.0          2
897.0          2
886.0          1
Name: DeductibleAmtPaid, dtype: int64

In [160]:
train_patient_data.DiagnosisGroupCode.isnull().sum() # matches 517737 rows in outpatient

517737

In [169]:
# total number of patients by provider
train_patient_data.groupby('Provider')['BeneID'].unique().apply(lambda x: len(x)).to_frame()

          BeneID
Provider
PRV51001      24
PRV51003     117
PRV51004     138
PRV51005     495
PRV51007      58
...          ...
PRV57759      24
PRV57760       9
PRV57761      67
PRV57762       1
PRV57763      70

[5410 rows x 1 columns]

In [162]:
# avg number of patients by provider
total_UnBeneID=len(train_patient_data['BeneID'].unique())
train_patient_data.groupby('Provider')['BeneID'].unique().apply(lambda x: len(x)/total_UnBeneID).to_frame("avg num of patients")

          avg num of patients
Provider
PRV51001             0.000173
PRV51003             0.000844
PRV51004             0.000996
PRV51005             0.003573
PRV51007             0.000419
...                       ...
PRV57759             0.000173
PRV57760             0.000065
PRV57761             0.000484
PRV57762             0.000007
PRV57763             0.000505

[5410 rows x 1 columns]

In [163]:
train_patient_data.groupby('Provider')['ClaimID'].agg("count").to_frame("ClaimID count")

          ClaimID count
Provider
PRV51001             25
PRV51003            132
PRV51004            149
PRV51005           1165
PRV51007             72
...                 ...
PRV57759             28
PRV57760             22
PRV57761             82
PRV57762              1
PRV57763            118

[5410 rows x 1 columns]

In [164]:
train_patient_data.groupby('Provider')['State'].unique().apply(lambda x:len(x)).to_frame("num of states")

          num of states
Provider
PRV51001              1
PRV51003              3
PRV51004              9
PRV51005              4
PRV51007              2
...                 ...
PRV57759              1
PRV57760              1
PRV57761              1
PRV57762              1
PRV57763              3

[5410 rows x 1 columns]

In [165]:
train_patient_data.groupby('Provider')['County'].unique().apply(lambda x:len(x)).to_frame("num of county")

          num of county
Provider
PRV51001              7
PRV51003             23
PRV51004             28
PRV51005             26
PRV51007              6
...                 ...
PRV57759              2
PRV57760              3
PRV57761              2
PRV57762              1
PRV57763              4

[5410 rows x 1 columns]